.sorted-thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    position: relative;
    padding-top: 16px;
    padding-right: 16px;
    width: 116px;
    height: 116px;
  }

  &__item-delete {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &__item-image {
    width:100%;
    height: auto;
  }
}
